<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ydwj.community"
    android:versionCode="1"
    android:versionName="1.0.1">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21"
        tools:overrideLibrary="android.support.v13" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <application
        android:name="com.ydwj.bean.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnspecified" />
        <activity
            android:name="com.ydwj.News.ShowNews"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WellcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ydwj.Login.Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ydwj.Login.Login"
            android:label="用户登录"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ydwj.Comment.Comment"
            android:label="@string/title_activity_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ydwj.alarm.Act_contacts_msg"
            android:label="紧急联系人"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ydwj.alarm.Act_addcontact"
            android:label="添加联系人"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ydwj.alarm.Act_show_cinfo"
            android:launchMode="singleTask"
            android:theme="@style/Mango" />
        <activity
            android:name="com.ydwj.Setting.Act_editUser"
            android:label="@string/title_activity_act_edit_user"
            android:theme="@style/Mango" />
        <activity
            android:name="com.ydwj.Setting.Act_editUserInfo"
            android:label="@string/title_activity_act_edit_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ydwj.Setting.Act_editPwd"
            android:label="修改密码"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.ydwj.Service.Service_Download" />

        <activity
            android:name="com.ydwj.Setting.Act_AppInfo"
            android:label="应用信息"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.ydwj.Service.Gonggao.Act_GongGao"
            android:theme="@style/myTheme"/>
    </application>

</manifest>
